h1 {
    color: black;
    font-style: oblique;
}

body {
    background-color: rgb(29, 29, 29);
    color: black;
    
}

.header-image {
    padding: 50px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-x;
}

.footer-image {
    padding: 50px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-x;
}

.container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: darkorange;
    
}

.space {
    padding: 25px;
}

.gif {
    background-image: url("../images/dance.gif");
    padding: 150px;
    background-size: 50%;
}