h1 {
    color: black;
    font-style: oblique;
}

body {
    background-color: rgb(29, 29, 29);
    color: black;
}

.header-image {
    padding-top: 100px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-x;
}

.footer-image {
    padding-top: 100px;
    background-image: url("../images/bg1.jpg");
    background-repeat: repeat-x;
}

.container {
    text-align: center;
    padding: 100px;
    background-color: darkorange;
    
}

.col-xl-6 {
    color: white;
}