h1 {
    color: palevioletred;
    margin-left: 90px;
}

body {
    background-color: pink;
}

.content {
    padding: 30px;
}

p.dashed {
    border-style: dashed;
    border-color: white;
    padding: 10px;
}

.container {
    padding: 100px;
}

.box {
    background-color: palevioletred;
}

ul.list2{
    list-style-type: circle;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: pink;
}