@{
    ViewBag.Title = "Silent Hills Apartments";
}

<div class="jumbotron">
    <h1>Silent Hills Apartments Maintanence</h1>
    <p class="lead">Welcome to the maintanence request webpage for Silent Hills Apartments complex. 
    Here you can make a request for repairs or voice concerns.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><font color="white">Make a request</font></h2>
        <p>
            <font color="white">Click the button below to fill out the request form.</font>
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Maintanence", "Home")>Request Maintanence&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><font color="white">View requests</font></h2>
        <p>
            <font color="white">Click the button below to view all requests.</font>
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Maintanence", "Home")>View Requests&raquo;</a></p>
    </div>
</div>