@model IEnumerable<assignment6.Models.ViewModels.PersonVM>

@{
    ViewBag.Title = "World Wide Importers";
}

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="form-group" align="center">
                <h3>Client Search</h3>
                <div class="searchbar">
                    <input class="form-control" type="text" name="searchname" placeholder="Search by client name" required />
                    <button type="submit" class="btn btn-primary button btn">Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
}


@if (ViewBag.notFound != null)
{
    <p>@ViewBag.notFound</p>
}
else if (ViewBag.notNull == 1)
{
    if (ViewBag.search != null)
    {
        <p>@ViewBag.search</p>
    }

    <ul>
        @foreach (var person in Model)
        {
            <li> @Html.ActionLink(person.FullName, "Details", "Customer", new { personName = person.FullName }, null)</li>
        }
    </ul>
}
