
@{
    ViewBag.Title = "Converter";
}

<h2>Convert Miles to Metric</h2>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4><b>Miles</b></h4>
                <p>
                    <input type="number" name="miles" min="1">  
                </p>      
            </div>
            <div class="col-sm-6">
                <h3>Select a unit</h3>
                <hr>
                <form>
                    <input type="radio" name="metric" value="millimeters" checked> Millimeters<br>
                    <input type="radio" name="metric" value="centimeters"> Centimeters<br>
                    <input type="radio" name="metric" value="meters"> Meters<br>
                    <input type="radio" name="metric" value="kilometers"> Kilometers<br>
                </form>
            </div>
        </div>
    </div>
</div>

