
@{
    ViewBag.Title = "Converter";
}

<h2>Convert Miles to Metric</h2>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4><b>Miles</b></h4>
                <p>
                    <input type="number" id="miles" min="1">
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Select a unit</h3>
                <hr>
                <form>
                    <input type="radio" name="metric" id="millimeters" checked> Millimeters<br>
                    <input type="radio" name="metric" id="centimeters"> Centimeters<br>
                    <input type="radio" name="metric" id="meters"> Meters<br>
                    <input type="radio" name="metric" id="kilometers"> Kilometers<br>
                </form>
            </div>
        </div>
        <br><br>
        <div align="center"><p><a class="btn btn-primary" onclick="convert()">Convert</a></p></div>
        <br><br>
        <p id="result"></p>
    </div>
</div>

